.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-text {
    font-size: 13px !important;
}

.custom-text-bold{
    font-weight: bold !important;
}

.my-textarea {
    width: 100% !important;
    height: 150px !important;
    padding: 10px !important;
    font-size: 16px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}
